@model InterfazViniloVirtual.Models.ArtistaViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";

    IEnumerable<AlbumViewModel> albumesArtista = (IEnumerable<AlbumViewModel>)ViewData["albumesArtista"];

    UsuarioViewModel usuario = Context.Session.Get<UsuarioViewModel>("usuario");
}

<h1>@Html.DisplayFor(model => model.nombre)</h1>

<!--Opciones de editar y borrar el artista solo para administrador-->
<td>
    @if (usuario != null && usuario.Tipo == "A")
    {
        @Html.ActionLink("Editar Artista", "Edit", new { id = Model.id })
        ;
        <span> | </span>
        @Html.ActionLink("Borrar Artista", "Delete", new { id = Model.id })
        ;
    }
</td>

<div>
    @if (Model != null && Model.imagen != null)
    {
        <td class="col-sm-10">
            <img src="@Html.DisplayFor(model => model.imagen)" height="350" width="350" />
        </td>
    }
</div>

<div>
    <hr />
    <dl class="row">
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.descripcion)
        </dd>
    </dl>
</div>

<h2>Albumes del Artista</h2>
<!--Listado de los albumes del artista-->
<div class="container-fluid">
    <div class="row">
        @foreach (var item in albumesArtista)
        {
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 card" style="display=" flex"; justify-content:center width: 18rem;">
                @if (Model != null && Model.imagen != null)
                {   
                    <a href="/Album/Details/@item.Id">
                        <img src="@item.Portada" class="card-img-top" alt="@item.Portada">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">@item.Titulo</h5>
                    </div>
                }
            </div>
        }
    </div>
</div>

<div>
    <a asp-action="Index">Volver a la lista de artistas</a>
</div>
