@model InterfazViniloVirtual.Models.ArtistaViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";

    IEnumerable<AlbumViewModel> albumesArtista = (IEnumerable<AlbumViewModel>)ViewData["albumesArtista"];

    UsuarioViewModel usuario = Context.Session.Get<UsuarioViewModel>("usuario");
}

<!--Opciones de editar y borrar el artista solo para administrador-->
<td>
    @if (usuario != null && usuario.Tipo == "A")
    {
        <a href="/Artista/Edit/@Model.id" class="custom-button">Editar Artista</a>
        <a href="/Artista/Delete/@Model.id" class="custom-button">Borrar Artista</a>
    }
</td>

<h1>@Html.DisplayFor(model => model.nombre)</h1>
<br />

<div class="row">
    <!--Parte de la izquierda-->
    <div class="col">
    @if (Model != null && Model.imagen != null)
    {
        <td class="col-sm-10">
                <img src="@Html.DisplayFor(model => model.imagen)" class="album-image" height="500" width="500" />
        </td>
    }
    </div>

    <!--Parte de la derecha-->
    <div class="col">
        <div class="row">
            <div class="">
                @Html.DisplayFor(model => model.descripcion)
            </div>
        </div>
        <div class="row">
            <div class="col">
                @if (usuario != null && usuario.Tipo == "C")
                {
                    <dd class="col-sm-10">
                        @if (Model.IsFav)
                        {
                            <form asp-action="Details" class="form-inline my-2 my-lg-0">
                                <button type="submit" class="btn btn-secondary">
                                    <i class="fa-solid fa-heart"></i>
                                </button>
                            </form>
                        }
                        else
                        {
                            <form asp-action="Details" class="form-inline my-2 my-lg-0">
                                <button type="submit" class="btn btn-secondary">
                                    <i class="fa-regular fa-heart"></i>
                                </button>
                            </form>
                        }
                    </dd>
                }
            </div>
        </div>
    </div>
</div>
<div>
    <hr />
    <dl class="row">
    </dl>
</div>
<h3>Albumes del Artista</h3>
<!--Listado de los albumes del artista-->
<div class="container-fluid">
    <div class="row">
        @foreach (var item in albumesArtista)
        {
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 album-cell">
                @if (item != null && item.Portada != null)
                {
                    <a href="/Album/Details/@item.Id">
                        <img src="@item.Portada" class="album-image" alt="@item.Portada">
                    </a>
                    <div class="album-title">@item.Titulo</div>
                    <div class="album-artist">@item.NombreArtista</div>
                    <div class="album-price">@item.Precio</div>

                }
            </div>
        }
    </div>
</div>
<div>
    <hr />
    <dl class="row">
    </dl>
</div>

<p>
    <a class="custom-button" asp-action="Index">Volver a la lista de artistas</a>
</p>
