@model IEnumerable<InterfazViniloVirtual.Models.UsuarioViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Listado de usuarios de Vinilo Virtual</h1>

<p>
    <a asp-action="Create" class="custom-button">Crear nuevo usuario</a>
</p>

<div class="container-fluid">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 album-cell">
                @if (item != null && item.Imagen != null)
                {
                    <a href="/Usuario/Details/@item.Email">
                        <img src="@item.Imagen" class="album-image" alt="@item.Imagen">
                    </a>
                    <div class="album-title text-center">@item.Email</div>
                    <div class="album-artist text-center">@item.Nombre @item.Apellido</div>
                    <div class="album-artist text-center">Privilegio: @item.Tipo</div>
                    <div class="album-artist text-center">Estado: @item.Estado</div>
                }
            </div>
        }
    </div>
</div>
