@model InterfazViniloVirtual.Models.AlbumViewModel

@{
    ViewData["Title"] = "Details";
    IEnumerable<ComentarioAlbViewModel> comments = (IEnumerable<ComentarioAlbViewModel>)ViewData["Comentarios"];

    UsuarioViewModel usuario = Context.Session.Get<UsuarioViewModel>("usuario");
}

<h1>@Html.DisplayFor(model => model.Titulo)</h1>
<h4>@Html.DisplayFor(model => model.NombreArtista)</h4>

<div>
    @if (Model != null && Model.Portada != null)
    {
        <td class="col-sm-10">
            <img src="@Html.DisplayFor(model => model.Portada)" height="350" width="350" />
        </td>
    }
</div>
<div>
    <hr />
    <dl class="row">
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
    </dl>
</div>
<div>
    <hr />
    @if (usuario != null)
    {
        <td class="col-sm-10">
            <button>Like</button>
        </td>
    }
    <td class="col-sm-10">
            <p>Numero de Likes: @Html.DisplayFor(model => model.Likes)</p>
    </td>
</div>

<h3>Comentarios</h3>

<div class="card-columns mt-4 mb-4 overflow-auto" style="column-count: 1; width: 60%;">
    @{
        var ff = System.Globalization.CultureInfo.InvariantCulture;
    }
    @foreach (var it in comments)
    {
        <div class="card shadow mb-2">

            <div class="card-body">
                <a href="/Usuario/Details/@it.UsuarioId"><h5 class="card-title">@it.NombreUsuario</h5></a>
                <p class="card-text">@it.Texto</p>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-sm">
                        @it.Fecha.ToString().;
                    </div>
                    @if (usuario != null && usuario.Tipo == "A")
                    {
                        <div class="col-sm">
                            <button class="btn btn-danger">
                                @Html.ActionLink("Borrar", "Delete", "ComentarioAlb", new { id = it.Id })
                            </button>
                        </div>
                    }
                </div>

            </div>
        </div>
    }
</div>

<div>
    @if (usuario != null && usuario.Tipo == "A")
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
    }
    <a asp-action="Index">Back to List</a>
    @if (usuario != null)
    {
        @Html.ActionLink("Comentar", "Create", "ComentarioAlb", new { id = Model.Id })
    }
</div>
