@model InterfazViniloVirtual.Models.AlbumViewModel

@{
    ViewData["Title"] = "Details";
    IEnumerable<ComentarioAlbViewModel> comments = (IEnumerable<ComentarioAlbViewModel>)ViewData["Comentarios"];

    UsuarioViewModel usuario = Context.Session.Get<UsuarioViewModel>("usuario");
}


<h1>@Html.DisplayFor(model => model.Titulo)</h1>
<h4>@Html.DisplayFor(model => model.NombreArtista)</h4>

<!--Opciones de editar y borrar el artista solo para administrador-->
<td>
    @if (usuario != null && usuario.Tipo == "A")
    {
        @Html.ActionLink("Editar Album", "Edit", new { id = Model.Id })
        ;
        <span> | </span>
        @Html.ActionLink("Borrar Album", "Delete", new { id = Model.Id })
        ;
    }
</td>

<div>
    @if (Model != null && Model.Portada != null)
    {
        <td class="col-sm-10">
            <img src="@Html.DisplayFor(model => model.Portada)" height="350" width="350" />
        </td>
    }
</div>
<div>
    <hr />
    <dl class="row">
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        @if (usuario != null && usuario.Tipo == "C")
        {
            <dd class="col-sm-10">

                @if (Model.IsFav)
                {
                    <form asp-action="Details" class="form-inline my-2 my-lg-0">
                        <button type="submit" class="btn btn-secondary">
                            <i class="fa-solid fa-heart"></i>
                        </button>
                    </form>
                }
                else
                {
                    <form asp-action="Details" class="form-inline my-2 my-lg-0">
                        <button type="submit" class="btn btn-secondary">
                            <i class="fa-regular fa-heart"></i>
                        </button>
                    </form>
                }
                    <form asp-action="AddCarrito" class="form-inline my-2 my-lg-0">
                        <input asp-for="Id" class="form-control" style="display: none;" value="@Model.Id"/>
                        <button type="submit" class="btn btn-warning">
                            Añadir al carrito <i class="fa-solid fa-cart-shopping"></i>
                        </button>
                    </form>


            </dd>
        }

    </dl>
</div>
<div>
    <hr />
    <td class="col-sm-10">
        <p>Numero de Likes: @Html.DisplayFor(model => model.Likes)</p>
    </td>
</div>

<!--Seccion de Comentarios del Album-->
<h3>Comentarios</h3>
<div class="card-columns mt-4 mb-4 overflow-auto" style="column-count: 1; width: 60%;">
    @{
        var ff = System.Globalization.CultureInfo.InvariantCulture;
    }
    <!--Mostrar accion de comentar si estas loggeado-->
    @if (usuario != null)
    {
        @Html.ActionLink("Comentar", "Create", "ComentarioAlb", new { id = Model.Id })
    }
    <!--Recorrer comentarios del album y mostrarlos-->
    @foreach (var it in comments)
    {
        <div class="card shadow mb-2">
            <div class="card-body">
                <a href="/Usuario/Details/@it.UsuarioId">
                    <h5 class="card-title">@it.NombreUsuario</h5>
                </a>
                <p class="card-text">@it.Texto</p>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-sm">
                        @it.Fecha.ToString().;
                    </div>

                    <!--Borrar comentario si eres administrador-->
                    @if (usuario != null && usuario.Tipo == "A")
                    {
                        <div class="col-sm">
                            <button class="btn btn-danger">
                                @Html.ActionLink("Borrar", "Delete", "ComentarioAlb", new { id = it.Id })
                            </button>
                        </div>
                    }
                </div>

            </div>
        </div>
    }
</div>

<!--Volver a la lista-->
<div>
    <a asp-action="Index">Volver a la lista de albumes</a>
</div>
