@model IEnumerable<InterfazViniloVirtual.Models.AlbumViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Albumes</h1>

<p>
    <a asp-action="Create">Crear Album</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Portada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Likes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Artista)
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.Artista.Id)
            </th> *@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Portada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Likes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreArtista)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Detalles", "Details", new {  id=item.Id }) |
                @Html.ActionLink("Borrar", "Delete", new {  id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
<br>
<br>
<br>
<p>
    Albumes con su artista y portada con el grid
</p>
<div class="container-fluid">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" style=" display=" flex"; justify-content:center">
                <table>
                    <tr>
                        <td style="width:100px">
                            @Html.DisplayFor(modelItem => item.Portada)
                        </td>
                        <td style="width:120px">
                            @Html.DisplayFor(modelItem => item.Titulo)
                        </td>
                        <td style="width:100px">
                            @Html.DisplayFor(modelItem => item.Artista.Nombre)
                        </td>
                    </tr>
                </table>

            </div>
        }
    </div>
</div>
