@model IEnumerable<InterfazViniloVirtual.Models.AlbumViewModel>

@{
    ViewData["Title"] = "Index";
    UsuarioViewModel user = (UsuarioViewModel)ViewData["usuario"];
}

@if (user != null && user.Tipo == "A")
{
    <p>
        <a asp-action="Create" class="custom-button">Crear nuevo álbum</a>
    </p>
}

<div class="text-center">
    <button type="button" class="custom-button btn btn-dark">
        Populares
    </button>
    <button type="button" class="custom-button btn btn-dark">
        Recomendados
    </button>
</div>
<br />
<div class="container-fluid">
    <div class="row justify-content-center">
        @foreach (var item in Model)
        {
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 album-cell">
                @if (item != null && item.Portada != null)
                {
                    <a href="/Album/Details/@item.Id">
                        <img src="@item.Portada" class="album-image" alt="@item.Portada">
                    </a>
                    <div class="album-title">@item.Titulo</div>
                    <div class="album-artist">@item.NombreArtista</div>
                    <div class="album-price">@item.Precio</div>

                }
            </div>
        }
    </div>
</div>
