<!DOCTYPE html>
<html lang="en">

@using Microsoft.AspNetCore.Http

@{
    UsuarioViewModel usuario = Context.Session.Get<UsuarioViewModel>("usuario");
    PedidoViewModel carrito = Context.Session.Get<PedidoViewModel>("pedido");
    string nombre = "";
    if (usuario != null)
    {
        nombre = usuario.Nombre;
    }
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - InterfazViniloVirtual</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/InterfazViniloVirtual.styles.css" asp-append-version="true" />
    <script src="https://kit.fontawesome.com/c978cb0a63.js" crossorigin="anonymous"></script>


    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap" rel="stylesheet">
</head>

<body>
    <header class="@(usuario?.Tipo == "A" ? "admin-navbar" : "")">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3 justify-content-between text-center @(usuario?.Tipo == "A" ? "admin-navbar" : "")">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#opciones">
                <i class="fa-solid fa-bars" style="color: white;"></i>
            </button>


            <a style="color:#fff" class="navbar-brand" asp-area="" asp-controller="Album" asp-action="Index">Vinilo
                Virtual</a>
            <div class="collapse navbar-collapse" id="opciones">
                @if (usuario == null)
                {
                    <ul class="navbar-nav navbar-opc" style="padding: 10px;">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Album" asp-action="Explorer">
                                <i class="fas fa-search icon"></i> Explorar
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Album" asp-action="Index">
                                <i class="fa-solid fa-meteor icon"></i> Descubrir
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Artista" asp-action="Index">
                                <i class="fa-solid fa-compact-disc icon"></i> Artistas
                            </a>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                    <!-- Regístrate con un margen derecho de 2 unidades -->
                        <li class="nav-item">
                            <a class="btn btn2-navbar text-white" asp-area="" asp-controller="Usuario"
                                asp-action="Register">Regístrate</a>
                        </li>
                    <!-- Identifícate -->
                        <li class="nav-item">
                            <a class="btn btn1-navbar" asp-area="" asp-controller="Usuario"
                               asp-action="Login">Identifícate</a>
                        </li>
                    </ul>
                }

                else
                {
                    <ul class="navbar-nav flex-grow-1" style="padding: 10px;">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Album" asp-action="Explorer">
                                <i class="fas fa-search icon"></i> Explorar
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Album" asp-action="Index">
                                <i class="fa-solid fa-meteor icon"></i> Descubrir
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Artista" asp-action="Index">
                                <i class="fa-solid fa-compact-disc icon"></i> Artistas
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Comunidad" asp-action="Index">
                                <i class="fa-solid fa-user-group icon"></i> Comunidades
                            </a>
                        </li>
                        @if (usuario == null || usuario.Tipo == "A")
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Usuario" asp-action="Index">
                                     <i class="fa-sharp fa-solid fa-users icon"></i>Usuarios
                                </a>
                            </li>
                        }


                        <!-- LogOut y Mi perfil -->
                        <ul class="navbar-nav"> 
                            <li class="nav-item">
                                <a class="btn btn2-navbar text-white" asp-area="" asp-controller="Usuario" asp-action="Signout">Cerrar Sesión</a>
                            </li>
                        </ul>
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item" style="margin-right: 10px;">
                                <a class="btn rounded-pill @(usuario?.Tipo == "A" ? "admin-profile" : "btn1-navbar")" asp-area="" asp-controller="Usuario" asp-action="Me">Mi Perfil</a>
                            </li>
                        </ul>

                        @if (carrito != null && carrito.LineasPedido.Count > 0)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Pedido" asp-action="VerCarrito"><i
                                        class="fa-solid fa-cart-shopping"></i><span
                                        class="badge badge-light">@carrito.LineasPedido.Count</span></a>
                            </li>
                        }

                    </ul>
                }


            </div>

            <!-- enlaces -->

        </nav>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer style="background-color:#17IE26" class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Vinilo Virtual - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>