@model InterfazViniloVirtual.Models.ComunidadViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    IEnumerable<ComentarioComViewModel> comments = (IEnumerable<ComentarioComViewModel>)ViewData["Comentarios"];
    bool suscrito = (bool)ViewData["suscrito"];

    UsuarioViewModel usuario = Context.Session.Get<UsuarioViewModel>("usuario");
}

<!--Opciones de editar y borrar la comunidad solo para administrador-->
<td>
    @if (usuario != null && usuario.Tipo == "A")
    {
        <a href="/Comunidad/Edit/@Model.Id" class="custom-button">Editar Comunidad</a>
        <a href="/Comunidad/Delete/@Model.Id" class="custom-button">Borrar Comunidad</a>
    }
</td>
<br />
<br />
<h1>@Html.DisplayFor(model => model.Nombre)</h1>
<br />

<div class="row">
    <!--Parte de la izquierda-->
    <div class="col">
        @if (Model != null && Model.Imagen != null)
        {
            <td class="col-sm-10">
                <img src="@Html.DisplayFor(model => model.Imagen)" class="album-image" height="500" width="500" />
            </td>
        }
    </div>

    <!--Parte de la derecha-->
    <div class="col">
        <div class="row">

            <!--Boton de seguir comuniad (desactivado de momento)
            <div class="col">
                ""if (usuario != null && usuario.Tipo == "C")
                {
                    <dd class="col-sm-10">
                        if (Model.IsFav)
                        {
                            <form asp-action="Details" class="form-inline my-2 my-lg-0">
                                <button type="submit" class="btn btn-secondary">
                                    <i class="fa-solid fa-heart"></i>
                                </button>
                            </form>
                        }
                        else
                        {
                            <form asp-action="Details" class="form-inline my-2 my-lg-0">
                                <button type="submit" class="btn btn-secondary">
                                    <i class="fa-regular fa-heart"></i>
                                </button>
                            </form>
                        }
                    </dd>
                }
            </div>-->
        </div>

        <br />

        @{
            var ff = System.Globalization.CultureInfo.InvariantCulture;
        }
        <!--Mostrar accion de comentar si estas loggeado-->
        @if (usuario != null)
        {
            @if (usuario.Baneado == "N" && suscrito)
            {
                <a href="/ComentarioCom/Create/@Model.Id" class="custom-button2">Comentar</a>
                <a href="/Comunidad/DarBaja/@Model.Id" class="custom-button2">Darse de Baja</a>
            }
            else if (usuario.Baneado == "N" && !suscrito)
            {
                <a href="/Comunidad/Suscribirse/@Model.Id" class="custom-button2">Suscribirse</a>
            }
            else if (suscrito && usuario.Baneado != "N")
            {
                @if (usuario.Baneado == "P")
                {
                    <div class="alert alert-danger" role="alert">
                        No puede unirse a ninguna comunidad ni comentar en ella, debido a que se encuentra permanente baneado
                    </div>
                }
                else
                {
                    <div class="alert alert-danger" role="alert">
                        No puede unirse a ninguna comunidad ni comentar en ella, debido a que se encuentra temporalmente baneado
                    </div>
                }

                <button class="custom-button2" disabled>
                    Comentar
                </button>
            }



            <br />
            <br />
        }
        <!--Recorrer comentarios del album y mostrarlos-->
        @foreach (var it in comments)
        {
            <div class="card shadow mb-2">
                <div class="card-body">
                    <a href="/Usuario/Details/@it.UsuarioId">
                        <h5 class="card-title">@it.NombreUsuario</h5>
                    </a>
                    <p class="card-text">@it.Texto</p>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-sm">
                            @it.Fecha.ToString();
                        </div>

                        <!--Borrar comentario si eres administrador-->
                        @if (usuario != null && usuario.Tipo == "A")
                        {
                            <div class="col-sm">
                                <a href="/ComentarioCom/Delete/@it.Id" class="btn btn-danger">Borrar</a>
                            </div>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<div>
    <hr />
    <dl class="row">
    </dl>
</div>
<!--Volver a la lista-->
<p>
    <a class="custom-button" asp-action="Index">Volver a la lista de comunidades</a>
</p>
