@model InterfazViniloVirtual.Models.ComunidadViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    IEnumerable<ComentarioComViewModel> comments = (IEnumerable<ComentarioComViewModel>)ViewData["Comentarios"];
}

<h1>Details</h1>

<div>
    <h4>ComunidadViewModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumMiembros)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumMiembros)
        </dd>
        @if (Model != null && Model.Imagen != null)
        {
            <td class="col-sm-10">
                <img src="@Html.DisplayFor(model => model.Imagen)" height="150" width="150" />

            </td>

        }
    </dl>
    <h4>Comentarios</h4>
</div>
<div class="card-columns mt-4 mb-4 overflow-auto" style="column-count: 1; width: 60%;">
    @{
        var ff = System.Globalization.CultureInfo.InvariantCulture;
    }
    @foreach (var it in comments)
    {
        <div class="card shadow mb-2">

            <div class="card-body">
                <h5 class="card-title">@it.NombreUsuario</h5>
                <p class="card-text">@it.Texto</p>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-sm">
                        @it.Fecha.ToString();
                    </div>
                    <div class="col-sm">
                        <button class="btn btn-danger">
                            @Html.ActionLink("Borrar", "Delete", "ComentarioCom", new { id = it.Id })
                        </button>
                    </div>
                </div>
                
            </div>
        </div>
    }
</div>


<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    <a asp-action="Index">Back to List</a> |
    @Html.ActionLink("Comentar", "Create", "ComentarioCom", new { id = Model.Id })
</div>
