@model IEnumerable<InterfazViniloVirtual.Models.ComunidadViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    UsuarioViewModel user =   (UsuarioViewModel)ViewData["usuario"];
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Imagen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumMiembros)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            @if (item != null && item.Imagen != null)
            {
                <td class="col-sm-10">
                        <img src="@Html.DisplayFor(modelItem => item.Imagen)" height="150" width="150" />
                </td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.NumMiembros)
            </td>
            <td>
                @if(user!= null && user.Tipo == "A")
                {
                     @Html.ActionLink("Editar", "Edit", new { id = item.Id }); <span> | </span>
                     @Html.ActionLink("Detalles", "Details", new { id = item.Id }); <span> | </span> 
                     @Html.ActionLink("Borrar", "Delete", new {  id=item.Id });
                }else {
                    @Html.ActionLink("Ver", "Details", new { id = item.Id });
                }
            </td>
        </tr>
}
    </tbody>
</table>
